* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Helvetica, sans-serif;
    color: #141414;
    background-color: #F5E8C7;
}

.container {
   width: 35%;
   height: 175vh;
   margin: 2.5rem auto;
   border-radius: 25px;
   background-color: #ECCCB2;

}

.heading {
    margin-top: 3rem;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 800;
    color: #AC7088;
    margin-top: 2rem;
}

.title-paragraph {
    margin-top: 0.5rem;
    font-style: italic;
    font-weight: 400;
}

.form-container {
    margin: 0.3rem;
    margin-left: 1.5rem;
    width: 90%;
    height: 160vh;
    font-size: 16px;
}

.form-label  {
   padding: 0.5rem;
   font-weight: 530;
}

.input {
    border: 2px solid indianred;
    display: flex;
    margin: 0.8rem;
    outline: none;
    border: none;
    padding: 0.6rem;
    border-radius: 5px;   
    width: 95%;
    box-shadow:0 0 4px rgba(0,0,0,0.3);

}

.input-group {
    padding: 0.4rem;
    margin-top: 0.8rem;
}

span {
    padding: 0.3rem;
}

input[type="radio"] {
    height: 17px;
    width: 17px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 0.4rem;
}

input[type="checkbox"] {
    cursor: pointer;
    height: 17px;
    width: 17px;
    margin-left: 0.4rem;
}

.remark {
    padding: 0.5rem;
    font-weight: 530;
}

.textarea {
    display: flex;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    border: none;
    border-radius: 5px;
    margin-top: 0.8rem;
    width: 90%;
    height: 30vh;
    padding: 0.4rem;
    margin-left: 0.4rem;
    font-weight: 700;
}

.btn {
    width: 95%;
    margin-left: 0.6rem;
    margin-top: 0.7rem;
    border-radius: 5px;
    height: 6vh;
    border: none;
    background-color: #AC7088;
    color: #141414;
    font-size: 20px;
    font-weight: 770;
}

/* Responsive */
@media  screen and (max-width: 933px) {
    .container {
        width: 50%;
    }
}



@media  screen and (max-width: 500px) {
   
    .container {
        width: 100%;
        
    }
}








